


.NoteForm, .NoteList {
    background-color: white;
    border-radius: 25px;
    margin: 20px;
    justify-content: center;
    padding: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.notebox {
    display: flex;
    margin: 100px;
    background-color: black;
}

.SignOut {
    margin: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}